@import "/home/user/angular-bootcamp/src/colors.scss";

.form {
  display: flex;
  flex-direction: column;
}

button {
  border: none;
  font-size: 1rem;
  width: 100%;
  border-radius: .5rem;
  height: 2rem;
  width: 10rem;
  color: $bright-gray-50;
  background-color: $bright-gray-500;
  cursor: pointer;
}

button:hover {
  cursor: pointer;
  background-color: $bright-gray-600;
}

input  {
  margin-top: 1rem;
  height: 2rem;
  background-color: $primary-color;
  color: $bright-gray-200;
  border: none;
  outline: none;
  padding-left: 1rem;
  padding-right: 1rem;
}

.add-button {
  margin-top: 3rem;
  height: 3rem;
  width: 100%;
}