@import "/home/user/angular-bootcamp/src/colors.scss";

.product-list-wrapper {
    display: flex;
    flex-wrap: wrap;
}

.product-width {
    flex: 0 0 33.33%;
}

.input-wrapper {
    display: flex;
    justify-content: center;
    width: 100%;

    .input-area {
        width: 80%;
    }
}

.paginator-wapper {
    display: flex;
    justify-content: center;
    padding: 1rem;
}

.actions-wrapper {
    display: flex;
    align-items: center;
    padding: 1rem;
}

.add-button {
    border: none;
    font-size: 1rem;
    width: 100%;
    border-radius: .5rem;
    height: 3rem;
    width: 6rem;
    color: $bright-gray-50;
    background-color: $bright-gray-500;
    margin: .5rem;
    cursor: pointer;
}

.add-button:hover {
    cursor: pointer;
    background-color: $bright-gray-600;
}