.product-list-wrapper {
    display: flex;
    flex-wrap: wrap;
}

.product-width {
    flex: 0 0 33.33%;
}

.input-wrapper {
    display: flex;
    justify-content: center;
    width: 100%;

    .input-area {
        width: 80%;
    }
}