@import "../../../../../colors.scss";

.search-input {
  font-size: 1.2rem;
  width: calc(100% - 4rem);
  background-color: $primary-color;
  color: $bright-gray-200;
  padding: 1rem;
  border-radius: 1.5rem;
  border: none;
  outline: none;
  margin-top: 4rem;
  margin-bottom: 3rem;
  margin-left: 1rem;
  margin-right: 1rem;
}

.search-input::placeholder {
  color: $bright-gray-400;
}