<div class="product-wrapper">
    <div class="product-container">
        <h3 class="product-title">{{title}}</h3>
        <img class="product-image" [src]="photo" alt={{title}} height="250" />
        <div class="product-body">
            <p>{{description | slice:0:30}}...</p>

            <app-price-tag 
                *ngFor="let price of prices"
                [name]="price.key"
                [price]="price.value"
                [offerDiscount]="offerDiscount"
            >
            </app-price-tag>
        </div>
        <button class="product-button" [routerLink]="['/product-list', 'details', id]">Más información</button>
    </div>
</div>