$background-color: #1e2227;
$font-color: #b4bbc9;
$primary-color: #3e4452;
$primary-color-translucid: #3e44527d;

$bright-gray-50: #f6f7f9;
$bright-gray-100: #edeef1;
$bright-gray-200: #d6d9e1;
$bright-gray-300: #b3b9c6;
$bright-gray-400: #8993a7;
$bright-gray-500: #6b768c;
$bright-gray-600: #555e74;
$bright-gray-700: #464e5e;
$bright-gray-800: #3e4452;
$bright-gray-900: #353945;
$bright-gray-950: #23262e;